# Ignore Python virtual environment
.venv/
venv/

# Ignore uploaded PDF files
uploads/

# Ignore output SQLite DB files
output/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore Git, IDE files
.git/
.gitignore
.vscode/
.idea/
